.container-fluid {
    padding-left: 0px;
    padding-right: 0px;

}
h1 {
    text-align: center;
    margin: 0px;
    padding: 12px 0px 12px 0px;
    font-family: 'Bungee', cursive;  
}

h1, .btn-primary{
    background: linear-gradient(to bottom,#e11937,#da1c55);
    color: white; 
    border: none; 
}
.input-box{
    font-size: 20px;
    padding-top: 20px;
    
}
input {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 10px;
}

button {
    margin: 5px;
    background: #229954; 
    color: white;
    font-size: 16px;
   
}
.gifs img{
    max-width: 25%;
    display: inline-block;
}

.gifs{
    padding-left:20px;
}
.ratings{
    margin-top:10px;
    margin-bottom:5px;
}